<div class="row">
	<a href="<%= new_admin_article_path %>" class="col-sm-2">
		<div class="item">
			写文章
		</div>
	</a>
	<a href="<%= admin_articles_path %>" class="col-sm-2">
		<div class="item">
			管理文章
		</div>
	</a>
</div>