<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "Feofan's blog", root_path, id: "logo" %>
		<nav class="nav navbar-nav navbar-right">
			<li><%= link_to "Archive", articles_path %></li>
			<li><%= link_to "Tags", tags_path %></li>
		</nav>
	</div>
</header>