<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
  	<%= render 'layouts/nav_header_blog' %>
  	<div class="container">
    	<%= yield %>
  	</div>
  </body>
</html>